# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans. MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. It is a non-relational and document-oriented database. where as It is a relational database.its open and simple philosophy and collaborative and helpful community. In the event that your data is unstructured, complex, there is no pre-determined schema and you need to handle large amounts of data and store it as documents, MongoDB can be preferred over SQL.

# Q2. State and Explain the features of MongoDB.

Document Model, Sharding, Replication, Authentication, Database Triggers, Time Series Data

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [6]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mohdzeeshan:password@cluster0.nssckdy.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [7]:
db

Database(MongoClient(host=['ac-7qczlmh-shard-00-02.nssckdy.mongodb.net:27017', 'ac-7qczlmh-shard-00-00.nssckdy.mongodb.net:27017', 'ac-7qczlmh-shard-00-01.nssckdy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ouj8j4-shard-0', tls=True), 'test')

In [8]:
db = client['pwskill']    # creating database

In [9]:
coll_pwskill = db['my_record']   # creating Collection

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and nsert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
d = [{'name': 'Zeeshan','phone':888546058,'address':'moradabad'},
    {'age': 23, 'email': 'zeeshan@gmail.com'},
    {'name': 'sudhanshu kumar', 'phone': 9898656321,'address':'banglore'}]

d1 = {'record':1,'case':1}

In [20]:
coll_pwskill.insert_one(d1)

In [30]:
for i in coll_pwskill.find_one({'record': 1}):
    print(i)

_id
record
case

In [23]:
coll_pwskill.insert_many(d)

In [24]:
for i in coll_pwskill.find():
    print(i)

{'_id': ObjectId('63f318563759b0c75303d814'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f31f6e3759b0c75303d815'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af1'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f32ff48278ed54b77c1af2'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f32ff48278ed54b77c1af3'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f32ff48278ed54b77c1af4'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f32ff48278ed54b77c1af5'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f32ff48278ed54b77c1af6'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af7'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af8'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f32ff48278ed54b77c1af9'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f32ff48278ed54b77c1afa'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f32ff48278ed54b77c1afb'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f32ff48278ed54b77c1afc'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f341062007199425ceb6c1'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f341072007199425ceb6c2'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c3'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f341072007199425ceb6c4'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f341072007199425ceb6c5'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f341072007199425ceb6c6'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f341072007199425ceb6c7'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f341072007199425ceb6c8'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c9'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6ca'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f341072007199425ceb6cb'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f341072007199425ceb6cc'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f341072007199425ceb6cd'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f341072007199425ceb6ce'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3419848ae97f76bff81ac'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f3419b48ae97f76bff81ad'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81ae'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f3419b48ae97f76bff81af'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f3419b48ae97f76bff81b0'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f3419b48ae97f76bff81b1'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f3419b48ae97f76bff81b2'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f3419b48ae97f76bff81b3'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b4'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b5'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f3419b48ae97f76bff81b6'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f3419b48ae97f76bff81b7'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f3419b48ae97f76bff81b8'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f3419b48ae97f76bff81b9'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3552fdc280f1d3f0d6d20'), 'record': 1, 'case': 1}
{'_id': ObjectId('63f35663dc280f1d3f0d6d21'), 'name': 'Zeeshan', 'phone': 888546058, 'address': 'moradabad'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d22'), 'age': 23, 'email': 'zeeshan@gmail.com'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d23'), 'name': 'sudhanshu kumar', 'phone': 9898656321, 'address': 'banglore'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [35]:
for i in coll_pwskill.find():
    print(i)

{'_id': ObjectId('63f318563759b0c75303d814'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f31f6e3759b0c75303d815'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af1'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f32ff48278ed54b77c1af2'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f32ff48278ed54b77c1af3'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f32ff48278ed54b77c1af4'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f32ff48278ed54b77c1af5'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f32ff48278ed54b77c1af6'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af7'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af8'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f32ff48278ed54b77c1af9'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f32ff48278ed54b77c1afa'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f32ff48278ed54b77c1afb'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f32ff48278ed54b77c1afc'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f341062007199425ceb6c1'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f341072007199425ceb6c2'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c3'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f341072007199425ceb6c4'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f341072007199425ceb6c5'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f341072007199425ceb6c6'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f341072007199425ceb6c7'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f341072007199425ceb6c8'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c9'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6ca'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f341072007199425ceb6cb'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f341072007199425ceb6cc'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f341072007199425ceb6cd'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f341072007199425ceb6ce'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3419848ae97f76bff81ac'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f3419b48ae97f76bff81ad'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81ae'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f3419b48ae97f76bff81af'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f3419b48ae97f76bff81b0'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f3419b48ae97f76bff81b1'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f3419b48ae97f76bff81b2'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f3419b48ae97f76bff81b3'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b4'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b5'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f3419b48ae97f76bff81b6'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f3419b48ae97f76bff81b7'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f3419b48ae97f76bff81b8'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f3419b48ae97f76bff81b9'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3552fdc280f1d3f0d6d20'), 'record': 1, 'case': 1}
{'_id': ObjectId('63f35663dc280f1d3f0d6d21'), 'name': 'Zeeshan', 'phone': 888546058, 'address': 'moradabad'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d22'), 'age': 23, 'email': 'zeeshan@gmail.com'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d23'), 'name': 'sudhanshu kumar', 'phone': 9898656321, 'address': 'banglore'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

It returns the documents in sorted order.

In [52]:
for i in coll_pwskill.find().sort('_id',pymongo.ASCENDING):
    print(i)

{'_id': ObjectId('63f318563759b0c75303d814'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f31f6e3759b0c75303d815'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af1'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f32ff48278ed54b77c1af2'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f32ff48278ed54b77c1af3'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f32ff48278ed54b77c1af4'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f32ff48278ed54b77c1af5'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f32ff48278ed54b77c1af6'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af7'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f32ff48278ed54b77c1af8'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f32ff48278ed54b77c1af9'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f32ff48278ed54b77c1afa'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f32ff48278ed54b77c1afb'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f32ff48278ed54b77c1afc'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f341062007199425ceb6c1'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f341072007199425ceb6c2'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c3'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f341072007199425ceb6c4'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f341072007199425ceb6c5'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f341072007199425ceb6c6'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f341072007199425ceb6c7'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f341072007199425ceb6c8'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6c9'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f341072007199425ceb6ca'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f341072007199425ceb6cb'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f341072007199425ceb6cc'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f341072007199425ceb6cd'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f341072007199425ceb6ce'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3419848ae97f76bff81ac'), 'name': 'sudhanshu', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f3419b48ae97f76bff81ad'), 'mail_id': 'sudh@gmail.com', 'phone_number': 9897564621, 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81ae'), 'name': 'Abdul', 'address': 'Deputy gunj'}
{'_id': ObjectId('63f3419b48ae97f76bff81af'), 'name': 'Aamir', 'address': 'Gokuldas'}
{'_id': ObjectId('63f3419b48ae97f76bff81b0'), 'name': 'Sultan', 'address': 'Jigar colony'}
{'_id': ObjectId('63f3419b48ae97f76bff81b1'), 'name': 'Malaya', 'address': 'MDA'}
{'_id': ObjectId('63f3419b48ae97f76bff81b2'), 'name': 'Zeeshan', 'address': 'Tara building'}
{'_id': ObjectId('63f3419b48ae97f76bff81b3'), 'name': 'Sudhanshu', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b4'), 'name': 'Krish', 'address': 'Banglore'}
{'_id': ObjectId('63f3419b48ae97f76bff81b5'), 'name': 'rajat', 'address': 'Gurathi'}
{'_id': ObjectId('63f3419b48ae97f76bff81b6'), 'name': 'Yash', 'address': 'Churasi Ghnata'}
{'_id': ObjectId('63f3419b48ae97f76bff81b7'), 'name': 'Ahsan', 'address': 'Lajpat Nagar'}
{'_id': ObjectId('63f3419b48ae97f76bff81b8'), 'name': 'Amaan', 'address': 'Maqbara'}
{'_id': ObjectId('63f3419b48ae97f76bff81b9'), 'name': 'Shabaz', 'address': 'Harthala'}
{'_id': ObjectId('63f3552fdc280f1d3f0d6d20'), 'record': 1, 'case': 1}
{'_id': ObjectId('63f35663dc280f1d3f0d6d21'), 'name': 'Zeeshan', 'phone': 888546058, 'address': 'moradabad'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d22'), 'age': 23, 'email': 'zeeshan@gmail.com'}
{'_id': ObjectId('63f35663dc280f1d3f0d6d23'), 'name': 'sudhanshu kumar', 'phone': 9898656321, 'address': 'banglore'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() --> The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection.

delete_many() --> Removes a total number of documents that match with the filter mentioned. Like deleteOne, the collection holds the same place, but the deleteMany specifies that the number of records to be deleted can be more than one.

drop() --> is used to drop a collection from the database.