# Q1. Write a python program to sort a given list of tuple based on the integer value using a lambda function?

given tuple list   --->   [('Sachin Tendulkar',34357),('Rickey Ponting',27483),'Jack Kallis',25534,'Virat Kohli',24936]

In [16]:
tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [27]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l.sort(key=lambda x:x[1])
print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Q2. write a python program to find the square of all the numbers in the given list of integers using lambda and map functions?

In [33]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]     # Given string
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list integers into a tuple of string use map and lambda function?

In [37]:
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [46]:
l1 = [1,2,3,4,5,6,7,8,9,10]
tup = tuple(map(lambda x : str(x), l1,))

In [47]:
tup

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [48]:
type(tup)

tuple

# Q4. Write a python program using reduce function to compute the product of the list containg the numbers from 1-25?

In [59]:
from functools import reduce

In [62]:
l2=[]
for i in range(1, 26):
    l2.append(i)

In [64]:
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [78]:
# reduce(lambda x , y : x * y , l2)

# Q5.Write a python program to filter the number in a given list that are divisible by 2 and 3 using the filter function?

In [79]:
# Given List -->  [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [80]:
l5 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [81]:
list(filter(lambda x : x % 2 == 0 and x % 3 == 0, l5))

[6, 60, 90, 120]

# Q6. Write a python program to find the palindrome in the given list of strings using lambda and filter function?

In [10]:
# Given List-->  ['python', 'php', 'aba', 'radar', 'level']

In [15]:
lg = ['python', 'php', 'aba', 'radar', 'level']

In [28]:
l=["python", "php","aba","radar","level"]
list(filter(lambda x:(x=="".join(reversed(x))),l))

['php', 'aba', 'radar', 'level']